<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Los Amigos</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="text-center bg-black">
    <img class="text-center logo" src="/images/losamigos-logo.png" alt="Los Amigos Logo">
    <div class="header-text">
      <h1 class="text-center fw-light display-1 text-uppercase header-name text-nowrap text-white">Los Amigos</h1>
      <p class="text-center h5 text-uppercase header-desc pt-3 text-white">carniceria & taqueria</p>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase" href="/">Los Amigos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          {{!-- <li class="nav-item fs-5 text-uppercase px-3">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li> --}}
          <li class="nav-item fs-5 text-uppercase px-3">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          <li class="nav-item fs-5 text-uppercase px-3">
            <a class="nav-link" href="/carniceria">Carniceria</a>
          </li>
          <li class="nav-item fs-5 text-uppercase px-3">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown fs-5 text-uppercase px-3">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}


  <footer class="text-white text-center text-lg-start bg-black">
    <!-- Grid container -->
    <div class="p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5 mb-md-0">
          <h5 class="text-uppercase mb-4 text-center text-white">About company</h5>

          <p class="text-center">
            We are a small business located on West Pine St. Come see us for a wide selection of fresh cut meats, carne
            asadas, remittances, and produce at the carniceria. Join us at the taqueria for tacos, tortas, enchiladas,
            etc.
          </p>
          {{!-- contact buttons --}}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1 text-center text-white">Contact Us</h5>


          {{!-- address --}}
          <div class="" style="">
            <div class="row">
              <div class="col-3 col-sm-4 text-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                </svg>
              </div>
              <div class=" col-9 col-sm-8 text-start">936 West Pine Street
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-3 col-sm-4 text-end">
              </div>
              <div class="col-9 col-sm-8 text-start">Mount Airy, NC 27030</div>
            </div>
          </div>


          <div class="" style="">
            <div class="row">
              <div class="col-3 col-sm-4 text-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
              </div>
              <div class="col-9 col-sm-8 text-start text-white">
                <a class="text-white text-decoration-none" href="tel:336648898">(336) 648-8098</a>
              </div>
            </div>
          </div>

          <div class="my-4 text-center">
            <!-- Facebook -->
            <a type="button" class="text-white mx-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook"
                viewBox="0 0 16 16">
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
              </svg>
            </a>
            <!-- Google Reviews-->
            <a type="button" class="text-white me-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-google"
                viewBox="0 0 16 16">
                <path
                  d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
              </svg>
            </a>
            <!-- Email -->
            <a type="button" class="text-white me-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
              </svg>
            </a>
            <!-- Linkedin -->
          </div>



        </div>







        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="text-uppercase mb-4 text-center text-white">Opening Hours</h5>
          <div class="table text-center text-white">
            <h6 class="text-center text-white">Carniceria</h6>
            <tbody class="fw-normal">
              <tr class="row">
                <td class="col-6 text-end">Mon - Sun:</td>
                <td class="col-6 text-start">10am - 8pm</td>
              </tr>
            </tbody>
          </div>

          <h6 class="text-center text-white">Taqueria</h6>
          <div class="table text-center text-white">
            <tbody class="fw-normal">
              <tr class="row">
                <td class="col-6 text-end">Mon - Sun:</td>
                <td class="col-6 text-start">11am - 7:30pm</td>
              </tr>
            </tbody>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      {{!-- © 2020 Copyright: --}}
    </div>
    <!-- Copyright -->
  </footer>






  <!-- bootstrap functionality -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
  <!-- momentum functionality -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="./assets/js/script.js"></script>




</body>

</html>