

<div class="col-12 py-5 px-5">
  <h2 class="text-center py-5">Contact Us</h2>
  <div class="card border-secondary">
    <img class="card-img-top" alt="Bootstrap Thumbnail First"
      src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
    <div class="card-block mx-5">

      <p class="card-text">
      <address class="fs-4">
        {{!-- <strong>Los Amigos Carniceria & Taqueria</strong><br /> --}}
        936 West Pine St<br>
        Mount Airy, NC 27030<br>
      </address>
      <h5 class="">
        <a class="text-decoration-none text-danger" href="=tel:336648098">
          (336) 648-8098
        </a>
      </h5>
      </p>
    </div>
  </div>
</div>
<div class="col-12 px-5 jc-center rounded">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3207.215753291135!2d-80.6298071839592!3d36.50065368001146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88523caa2239c039%3A0x93f5532b84893c80!2s936%20W%20Pine%20St%2C%20Mt%20Airy%2C%20NC%2027030!5e0!3m2!1sen!2sus!4v1647222404056!5m2!1sen!2sus"
    width="100%" height="450px" loading="lazy">
  </iframe>
</div>