<main class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron pt-5 px-5">
        <h2>
          Bienvenidos!
        </h2>
        <p class="fs-4">
          Join us at the carniceria and taqueria and try authentic street tacos, tortas, gorditas, etc. Stop inside the carniceria for some treats!
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="/menu">Checkout the Menu</a>
        </p>
      </div>
      <hr>
      <figure class="mx-md-5 px-5 text-end pt-5">
        <blockquote class="blockquote">
          <p> &#9733; &#9733; &#9733; &#9733; &#9733;</p>
          <p class="mb-0">"Love this place! The tacos are divine! Service is awesome! ! The ladies making the food are
            always
            sweet and teach my daughter a little Spanish every time we pick up!"</p>
        </blockquote>

        <figcaption class="blockquote-footer text-danger">
          R.Thomas <cite title="Source Title">Google Reviews</cite>
        </figcaption>
      </figure>

      <figure class=" mx-md-5 px-5 text-end pb-5">
        <blockquote class="blockquote">
          <p> &#9733; &#9733; &#9733; &#9733; &#9733;</p>
          <p class="mb-0">"Awesome place, best tacos I've ever had. Must get some if you like tacos, you'll never find
            any
            better."</p>
        </blockquote>

        <figcaption class="blockquote-footer text-danger">
          J.Besancon <cite title="Source Title">Google Reviews</cite>
        </figcaption>
      </figure>

      <hr>


      <div class="row">
        <div class="col-md-4">
          <a class="text-decoration-none " href="/menu">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail First"
                src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
              <div class="card-block category">
                <h5 class="card-title mt-3 mx-3 text-uppercase">
                  Taqueria
                </h5>
                <p class="card-text mx-3">
                  Join us at the taco truck for authentic street style Mexican food. <br>
                  <br>
                  Give us a call to place an order
                  for pickup.
                </p>
                <p class="">
                  {{!-- <a class="btn" href="tel:3366488098">Menu</a> --}}
                  <a class="mt-2 btn btn-outline-danger btn-block mx-3" href="tel:3366488098">Call Us</a>
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="text-decoration-none " href="/carniceria">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail First"
                src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
              <div class="card-block category">
                <h5 class="card-title mt-3 mx-3 text-uppercase">
                  Carniceria
                </h5>
                <p class="card-text mx-3">
                  Stop by or call in to order a selection of meats for your <em class="text-italic">carne asada</em>,
                  stews, and cookouts.<br>
                  <br>
                  Give us a call to place an order for pickup.
                </p>
                <p class="">
                  {{!-- <a class="btn" href="tel:3366488098">Menu</a> --}}
                  <a class="mt-2 btn btn-outline-danger btn-block mx-3" href="tel:3366488098">Call Us</a>
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="text-decoration-none " href="/carniceria">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail First"
                src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
              <div class="card-block category">
                <h5 class="card-title mt-3 mx-3 text-uppercase">
                  Abarrotes
                </h5>
                <p class="card-text mx-3">
                  Stop by to pick up produce, hispanic specialty items, and send money.
                  <br>
                  <br>
                </p>
                <p class="">
                  {{!-- <a class="btn" href="tel:3366488098">Menu</a> --}}
                  {{!-- <a class="mt-2 btn btn-outline-danger btn-block mx-3" href="tel:3366488098">Call Us</a> --}}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>