.jc-center {
    justify-content: center;
}

header {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    color: white;
}

.header-text {
    padding-bottom: 100px;
    position: absolute;
    top: 90%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.header-name {
    letter-spacing: 30px;
    font-size: 50px;
}

.header-desc {
    letter-spacing: 10px;
    line-height: 25px;
}

.page-break {
    letter-spacing: 20px;
    font-weight: 100;
}

.card-header {
    letter-spacing: 5px;
}

iframe {
    display: block;
}

.logo {
    opacity: 0.5;
    height: 200px;
    position: relative;
}



@media (min-width: 150px) and (max-width:725px) {
    h1 {
        font-size: 13px;
    }
    .header-name {
        letter-spacing: 8px;
    }
    .header-desc {
        letter-spacing: 2px;

    }
}